body {
    background: #EBF7F5 url("/PulpaColada/img/fond-ananas.png") center;
    background-size: auto;
    /*height: calc(100% - 90px);*/
    height: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#content {
    /*margin-bottom: 100px;*/
    /*height: calc(100% - 100px);*/
    flex: 1;
}

p#demo {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

.flip-clock-label {
    color: #76c783 !important;
    /*background-color: #7DC48A !important;*/
    /*font-style: italic;*/
    font-weight: 800;
    text-shadow: 1px 1px 0 #f7fcfb, 1px -1px 0 #f7fcfb, -1px -1px 0 #f7fcfb, -1px 1px 0 #f7fcfb !important;
}

a:hover .fa-facebook-f {
    color: #3b5998;
}

a:hover .fa-snapchat-ghost {
    color: #fffc00;
}

a:hover .fa-twitter {
    color: #1da1f2
}

.enreg {
    margin-bottom: 80%
}

mark {
    font-family: 'Oswald', sans-serif;
    background-color: #7DC48A;
    color: white;
    font-style: italic;
    font-weight: bold;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    background-color: #EBF7F5;
    width: 100%;
    margin: 0;
    /*height: 100px;*/
}

footer > .container {
    border-top: #7BC588 1px solid;
    text-align: center;
    padding: 15px;
}

section {
    margin-top: 90px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.6);
}

#clock {
    margin-top: 30px;
    /*zoom: 0.5;*/
    /*-moz-transform: scale(0.5)*/
}

.premier-plan {
    position: relative;
    z-index: 1029;
}

@media screen and (max-width: 790px) {
    mark {
        padding-top: 0;
    }
}

a.btn-outline-info > .fab {
    transition-duration: 0s;
}

footer a > .fab {
    font-size: 24px;
    transition: all 0.1s ease-in;
}

.thumbnail {
    margin-top: 15px;
}

.flip-clock-wrapper ul li a div div.inn {
    color: #ffce67 !important;
    background-color: #f7fcfb !important;
}

.carte-liste {
    margin: 30px auto;
    width: 100%;
    display: inline-block;
    background: #5d00ff linear-gradient(to right, #5d00ff 0%, #d800ff 100%);
}

.carte-liste:after {
    padding-bottom: 100%;
}

.cercle-carte {
    border-radius: 100%;
    color: black;
    height: 62.5%;
    width: 62.5%;
    margin: 18.75% 18.75% 0;
    border: 1px solid white;
}

.nom {
    margin-top: 127px;
    display: inline-block;
    font-variant-position: 30px;
    }

.cercle-carte + p {
}

.thumbnail > a {
    display: block;
}