DirectoryIndex index.php

ErrorDocument 400 /PulpaColada/Erreur/400.php
ErrorDocument 401 /PulpaColada/Erreur/401.php
ErrorDocument 403 /PulpaColada/Erreur/403.php
ErrorDocument 404 /PulpaColada/Erreur/404.php
ErrorDocument 500 /PulpaColada/Erreur/500.php

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes